{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>Edit</h1>
  <article>
    <form>
      <input type="text" placeholder="Name" value="{{ name }}" />
      <input type="text" placeholder="Email" value="{{ email }}" />
      <input type="text" placeholder="Favorite Food" value="{{ name }}" />
      <a href="/home"><h3>Home</h3></a>
    </form>
  </article>
</div>
{% endblock content %}