{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>Login</h1>
  <form>
    <input type="text" placeholder="name" />
    <input type="text" placeholder="password" />
    <a href="/home"><h3>Login</h3></a>
    <a href="/create"><h3>Create Account</h3></a>
  </form>
</div>
{% endblock content %}
